<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property>
        <property name="hibernate.connection.url">jdbc:postgresql://localhost:5432/airports_project_database</property>
        <property name="hibernate.connection.username">airports_project_user</property>
        <property name="hibernate.connection.password">AIRPORTS_PROJECT_PASSWORD</property>

        <property name="hibernate.dialect">org.hibernate.dialect.PostgreSQLDialect</property>

        <property name="hbm2ddl.auto">update</property>

        <mapping class="com.databasesproject.airportspringbootproject.models.Airport"/>
        <mapping class="com.databasesproject.airportspringbootproject.models.City"/>
        <mapping class="com.databasesproject.airportspringbootproject.models.Country"/>

    </session-factory>
</hibernate-configuration>